openapi: 3.0.0
info:
  title: ERP API
  description: API para integração entre ERP e Marketplace, utilizando eventos para sincronização de dados.
  version: 1.0.0
servers:
  - url: https://api.erp.com/v1
    description: Servidor de produção

paths:
  /orders:
    post:
      summary: Criar pedido
      description: Cria um novo pedido no ERP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "201":
          description: Pedido criado com sucesso
        "400":
          description: Requisição inválida

  /customers:
    post:
      summary: Criar cliente
      description: Cria um novo cliente no ERP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "201":
          description: Cliente criado com sucesso
        "400":
          description: Requisição inválida

components:
  schemas:
    Order:
      type: object
      properties:
        orderId:
          type: string
        customerId:
          type: string
        products:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
              quantity:
                type: integer
              price:
                type: number
                format: float
        totalValue:
          type: number
          format: float
        status:
          type: string
          enum: [pending, confirmed, canceled, shipped]

    Customer:
      type: object
      properties:
        customerId:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: object
          properties:
            street:
              type: string
            number:
              type: string
            city:
              type: string
            state:
              type: string
            country:
              type: string
            zipCode:
              type: string
